@page
@using QuanLyChiTieuCaNhan.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using QuanLyChiTieuCaNhan.Web.Pages.Wallets.Wallet
@using QuanLyChiTieuCaNhan.Localization
@using QuanLyChiTieuCaNhan.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<QuanLyChiTieuCaNhanResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Wallet"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Wallet"].Value);
    PageLayout.Content.MenuItemName = QuanLyChiTieuCaNhanMenus.Wallet;
}

@section scripts
{
    <abp-script src="/Pages/Wallets/Wallet/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Wallets/Wallet/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Wallet"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(QuanLyChiTieuCaNhanPermissions.Wallet.Create))
                {
                <abp-button id="NewWalletButton"
                            text="@L["CreateWallet"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="WalletCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="WalletFilter" id="WalletFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="WalletCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="WalletTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
